<!--  -->
<section
  class="bg-gray-50 text-neutral-600 dark:text-neutral-50 dark:bg-gray-900 rounded"
>
  <div class="overflow-hidden">
    <div
      class="flex flex-col justify-center flex-1 px-4 py-6 sm:px-6 lg:flex-none"
    >
      <div class="w-full max-w-xl mx-auto">
        <div>
          <div
            class="flex items-center justify-center text-medium no-underline"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-6 w-6 dark:text-white"
            >
              <path d="m8 3 4 8 5-5 5 15H2L8 3z"></path>
            </svg>
            <span class="font-bold mx-3 text-blue-600">Resumify</span>
          </div>

          <h2 class="mt-6 text-3xl font-extrabold text-center">Log in.</h2>
        </div>

        <div class="mt-8">
          <div class="mt-6">
            <form action="#" method="POST" class="space-y-6">
              <div>
                <label for="email" class="block text-sm font-medium">
                  Email address
                </label>
                <div class="mt-1">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    required=""
                    placeholder="Your Email"
                    class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                  />
                </div>
              </div>

              <div class="space-y-1">
                <label for="password" class="block text-sm font-medium">
                  Password
                </label>
                <div class="mt-1">
                  <input
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    required=""
                    placeholder="Your Password"
                    class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                  />
                </div>
              </div>

              <!-- <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <input
                    id="remember-me"
                    name="remember-me"
                    type="checkbox"
                    placeholder="Your password"
                    class="w-4 h-4 text-blue-600 border-gray-200 rounded focus:ring-blue-500"
                  />
                  <label for="remember-me" class="block ml-2 text-sm">
                    Remember me
                  </label>
                </div>

                <div class="text-sm">
                  <a
                    href="#"
                    class="font-medium text-blue-600 hover:text-blue-500"
                  >
                    Forgot your password?
                  </a>
                </div>
              </div> -->

              <div>
                <button
                  type="submit"
                  class="hover:shadow-2xl hover:-translate-y-px hover:transition hover:duration-300 px-5 py-2 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:bg-blue-500 font-medium w-full"
                >
                  Log in
                </button>
              </div>
            </form>
            <div class="relative my-4">
              <div class="absolute inset-0 flex items-center">
                <div class="w-full border-t border-gray-300"></div>
              </div>
              <div class="relative flex justify-center text-sm">
                <span class="px-2 bg-gray-50 dark:bg-gray-900 rounded-lg">
                  Or continue with
                </span>
              </div>
            </div>
            <div>
              <button
                type="submit"
                class="w-full items-center block px-5 py-2 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 dark:bg-slate-50 hover:shadow-2xl hover:-translate-y-px hover:transition hover:duration-300"
              >
                <div class="flex items-center justify-center">
                  <img
                    src="../../../assets/Svg/google.svg"
                    alt=""
                    class="w-6 h-6"
                  />
                  <span class="ml-4"> Log in with Google</span>
                </div>
              </button>
              <!--  -->
              <mat-dialog-actions>
                <button
                  type="button"
                  class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:w-auto sm:text-sm -ml-2"
                  mat-dialog-close
                >
                  Close
                </button>
              </mat-dialog-actions>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
