@if (show) {
<section
  class="flex bg-slate-800 absolute top-0 left-0 h-screen w-full z-50 bg-opacity-60"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6 absolute top-5 right-5 text-white cursor-pointer"
    (click)="this.commonService.canShowModal = false"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
    />
  </svg>

  <div class="container m-auto bg-white rounded">
    <h1 class="text-3xl font-bold underline text-center p-5">
      Resume Builder Modal works!
    </h1>
  </div>
</section>
}
