<section class="bg-white dark:bg-gray-900 h-screen">
  <div class="flex h-full">
    <div class="sideBar flex flex-col justify-between basis-80 shadow-xl">
      <div class="topBox pt-2">
        <div class="flex gap-3 items-center m-2 px-2 rounded-md">
          <div
            class="icon basis-14 flex items-center justify-center p-2 py-3 text-blue-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-6 w-6"
            >
              <path d="m8 3 4 8 5-5 5 15H2L8 3z"></path>
            </svg>
          </div>
          <div
            class="iconText flex gap-2 justify-between items-center basis-48"
          >
            <div class="">
              <h3 class="font-bold text-xl">Resumify</h3>
            </div>
            <div
              class="toggle relative -right-8 shadow-xl bg-blue-400 text-gray-50 p-2 rounded-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m8.25 4.5 7.5 7.5-7.5 7.5"
                />
              </svg>
            </div>
          </div>
        </div>
        <!--  -->
        @for (dMenu of dashMenu; track $index) {
        <div
          routerLink="{{ dMenu.pageUrl }}"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex gap-3 items-center m-2 px-2 hover:bg-slate-100 rounded-md dark:hover:text-blue-500 transition-all"
        >
          <div
            class="icon basis-14 flex items-center justify-center p-2 py-3 text-blue-500"
          >
            <div [innerHTML]="sanitizeSVG(dMenu.icon)"></div>
          </div>
          <div
            class="iconText flex gap-2 justify-between items-center basis-48"
          >
            <h3 class="font-medium capitalize text-base">{{ dMenu.menu }}</h3>
          </div>
        </div>
        }
      </div>
      <div class="bottomBox">
        <div
          class="flex gap-3 items-center m-2 bg-gray-200 dark:bg-gray-700 rounded-md px-2"
        >
          <div class="userImg basis-16 px-1 py-3">
            <img
              src="../../../assets/Svg/user.svg"
              alt=""
              class="max-w-full bg-gray-50 p-2 rounded-full"
            />
          </div>
          <div class="user flex gap-2 justify-between items-center basis-48">
            <div class="">
              <h3 class="font-bold text-xl">User</h3>
            </div>
            <div class="toggleTheme pr-2">
              <button
                class="theme rounded-full p-1 border hover:rotate-360 duration-300"
                [matTooltip]="
                  savedTheme === 'light' ? 'Dark Mode' : 'Light Mode'
                "
                matTooltipClass="text-xs tracking-wider"
                (click)="toggleTheme()"
              >
                @if (savedTheme === 'light') {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
                  />
                </svg>
                } @else if (savedTheme === 'dark') {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                  />
                </svg>
                }
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mainArea basis-full">
      <div class="container mx-auto bg-slate-500 text-gray-100 h-screen">
        <h1 class="text-3xl font-bold underline text-center p-5">
          Resume Builder Dashboard works!
        </h1>
      </div>
    </div>
  </div>
</section>
