.h-web-fit {
  height: -webkit-fill-available;
}

.sideBar {
  width: 74px;
  min-height: 100vh;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.sideBar.open {
  width: 250px;
}

/* .sideBar .iconText h3 {
  opacity: 0;
} */
.sideBar .iconText,
.sideBar .user h3,
.sideBar .userImg {
  display: none;
  /* opacity: 0; */
}

.sideBar.open .iconText,
.sideBar.open .user h3,
.sideBar.open .userImg {
  display: block;
  /* transition: all 0.2s ease-in-out; */
}

.sideBar.open .iconText h3,
.sideBar.open .user {
  opacity: 1;
  display: flex;
  /* transition: all 0.5s ease-in-out; */
}

.sideBar .tooltip {
  position: absolute;
  top: 8px;
  left: calc(100% + 15px);
  z-index: 3;
  opacity: 0;
  pointer-events: none;
}

.sideBar.open .tooltip {
  display: none;
}

.sideBar.open .toggleTheme:hover .tooltip {
  display: block;
}

.sideBar .toggleTheme:hover .tooltip,
.sideBar .dashMenu:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease-in-out;
  top: 50%;
  transform: translateY(-50%);
}

.mainArea {
  position: relative;
  top: 0;
  left: 74px;
  width: calc(100% - 74px);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.sideBar.open~.mainArea {
  left: 250px;
  width: calc(100% - 250px);
}

.toggleSideMenu {
  display: none;
}

/* templates area  */
.template {
  overflow: hidden;
}

.template .templateOptions {
  position: absolute;
  bottom: -100%;
  width: 90%;
  margin: auto;
}

.template:hover .templateOptions {
  bottom: 2%;
  transition: all 0.4s ease-in-out;
}

.addTemplate .tooltip {
  position: absolute;
  bottom: 25%;
  left: 25%;
  display: none;
}

.addTemplate .template-img:hover~.tooltip {
  display: block;
}

.templateOptions .tooltip {
  /* bottom: -100px; */
  display: none;
}

.templateOptions .edit:hover .tooltip {
  top: -200%;
  left: -60%;
  transition: all 0.5s ease-in-out;
  display: block;
}

.templateOptions .down:hover .tooltip {
  top: -200%;
  left: -140%;
  transition: all 0.5s ease-in-out;
  display: block;
}

.templateOptions .delete:hover .tooltip {
  top: -200%;
  left: -100%;
  transition: all 0.5s ease-in-out;
  display: block;
}

.template-preview button .tooltip {
  left: 15%;
  bottom: -5%;
  display: none;
}

.template-preview button:hover .tooltip {
  transition: all 0.5s ease-in-out;
  display: block;
}

@media (max-width: 576px) and (min-width: 320px) {
  .toggleSideMenu {
    display: block;
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    z-index: 9;
    padding: 0.6rem;
    border-radius: 50%;
  }

  .sideBar {
    width: 250px;
    left: -1000px;
  }

  .sideBar .iconText h3 {
    opacity: 1;
  }

  .sideBar .user h3,
  .sideBar .userImg {
    display: block;
  }

  .sideBar .tooltip {
    display: none;
  }

  .sideBar.open~.mainArea,
  .mainArea {
    left: 0;
    width: 100%;
  }

  .sideBar.open {
    width: 250px;
    left: 0;
    transition: all 0.5s ease-in-out;
  }

  .sideBar-backdrop {
    left: -1000px;
    transition: all 0.5s ease-in-out;
  }

  .sideBar.open~.sideBar-backdrop {
    left: 0;
    display: block;
  }

  .sideBar.open~body {
    overflow: hidden;
  }
}