<div class="w-full py-10">
  <div
    class="grid max-w-3xl lg:px-1 gap-4 px-4 md:px-6 md:grid-cols-2 lg:max-w-full xl:grid-cols-4 xl:gap-8"
  >
    @for (feature of features; track $index) {
    <div
      class="flex flex-col gap-1.5 py-3 px-4 hover:shadow-lg hover:rounded-lg"
    >
      <img
        [src]="feature.svg"
        [alt]="feature.Feature"
        class="w-20 h-20 rounded-xl p-5 bg-gray-200 grid place-items-center dark:bg-gray-800 dark:text-blue-600"
      />

      <div class="flex flex-col gap-1.5">
        <h3 class="text-xl font-bold">{{ feature.Feature }}</h3>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          {{ feature.Description }}
        </p>
      </div>
    </div>

    }
  </div>
</div>
