<div class="w-full pt-10">
  <div
    class="grid pb-12 max-w-3xl lg:px-1 gap-4 md:px-6 md:grid-cols-2 lg:max-w-full xl:grid-cols-4 xl:gap-8"
  >
    @for (feature of features; track $index) {
    <div
      class="flex flex-col gap-1.5 py-3 px-5 hover:shadow-lg hover:rounded-lg"
    >
      <div [innerHTML]="sanitizeSVG(feature.svg)"></div>

      <div class="flex flex-col gap-1.5">
        <h3 class="text-xl font-bold">{{ feature.Feature }}</h3>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          {{ feature.Description }}
        </p>
      </div>
    </div>

    }
  </div>
  <!--  -->
  <div class="space-y-2 text-center pt-10">
    <div
      class="inline-block rounded-lg bg-gray-200 px-3 py-1 text-sm dark:bg-gray-800"
    >
      Steps
    </div>
    <h2 class="text-3xl font-bold  lg:text-4xl pt-3">
      How It Works
    </h2>
    <p class="text-gray-500 dark:text-gray-400">
      Crafting Your Perfect Resume in
      <span class="text-blue-500 font-bold">4 Simple Steps:</span>
    </p>
  </div>
  <div class="text-gray-600 pt-10 flex flex-wrap px-2">
    @for (step of steps; track $index) {
    <div class="flex relative pb-14 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-blue-500 text-white relative z-10 title-font font-medium text-sm"
      >
        {{ step.step_number }}
      </div>
      <div
        class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
      >
        <div
          class="flex-shrink-0 w-24 h-24 bg-gray-200 text-gray-900 dark:bg-blue-100 dark:text-blue-600 rounded-full inline-flex items-center justify-center"
        >
          <div [innerHTML]="sanitizeSVG(step.svg)"></div>
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2
            class="font-medium title-font text-gray-900 dark:text-gray-100 mb-1 text-xl"
          >
            {{ step.name }}
          </h2>
          <p class="leading-relaxed text-sm">
            {{ step.description }}
          </p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
