<div class="w-full py-10">
  <div
    class="grid max-w-3xl items-center gap-4 px-4 md:px-6 md:grid-cols-2 lg:max-w-5xl xl:grid-cols-3 xl:gap-8"
  >
    @for (feature of features; track $index) {
    <div class="flex flex-col gap-1.5">
      
     <div [innerHTML]="[feature.svg]"></div>
      <div class="flex flex-col gap-1.5">
        <h3 class="text-xl font-bold">{{ feature.Feature }}</h3>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          {{ feature.Description }}
        </p>
      </div>
    </div>
    
    }



    <!--  -->
  </div>
</div>
