<section class="p-4">
  <div class="container mx-auto px-6">
    <p class="mt-4 py-3 poppins-semibold text-xl text-center">
      Select a template
    </p>
    <div class="templatesArea mt-4 flex gap-3">
      <div
        class="templateBox w-64 h-80 basis-64 flex flex-col justify-between gap-3"
      >
        <div
          class="template border-2 rounded-lg h-80 hover:border-blue-500 hover:border-3 cursor-pointer group flex-col relative"
        >
          <div class="templateImg w-full h-80">
            <img src="../../../assets/Svg/heroSection.svg" alt="" srcset="" />
          </div>
          <div
            class="templateMisc h-full w-full absolute top-0 left-0 group-hover:backdrop-blur"
          >
            <div
              class="relative flex items-center justify-center flex-col h-full w-full"
            >
              <div
                class="template-preview p-5 hidden group-hover:block group-hover:scale-125 group-hover:transition-all"
              >
                <button>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-8 h-8 rounded-full bg-blue-500 p-2 text-gray-50"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    />
                  </svg>
                  <span
                    class="tooltip absolute shadow-md font-medium capitalize text-[9px] whitespace-nowrap bg-gray-600 text-gray-50 px-2 py-1 rounded-md"
                  >
                    preview
                  </span>
                </button>
              </div>
              <div
                class="templateOptions flex gap-2 justify-between shadow-md font-bold text-xs bg-blue-50 text-slate-800 py-3 px-3 rounded-md"
              >
                <p>Choose template</p>
                <div class="flex items-center space-x-2">
                  <label for="" class="items-center flex">
                    <input
                      type="radio"
                      name="color"
                      id=""
                      value="red"
                      class="hidden"
                    />
                    <span
                      class="block w-4 h-4 bg-red-500 ring-2 ring-red-300 rounded-full cursor-pointer"
                    ></span>
                  </label>
                  <!--  -->
                  <label for="" class="items-center flex">
                    <input
                      type="radio"
                      name="color"
                      id=""
                      value="red"
                      class="hidden"
                    />
                    <span
                      class="block w-4 h-4 bg-blue-500 ring-2 ring-blue-300 rounded-full cursor-pointer"
                    ></span>
                  </label>
                  <!--  -->
                  <label for="" class="items-center flex">
                    <input
                      type="radio"
                      name="color"
                      id=""
                      value="red"
                      class="hidden"
                    />
                    <span
                      class="block w-4 h-4 bg-green-500 ring-2 ring-green-300 rounded-full cursor-pointer"
                    ></span>
                  </label>
                  <!--  -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-center">Template 1</p>
      </div>
      <!--  -->
      <div
        class="templateBox w-64 h-80 basis-64 flex flex-col justify-between gap-3"
      >
        <div
          class="template border-2 rounded-lg h-80 hover:border-blue-500 hover:border-3 cursor-pointer group flex-col relative"
        >
          <div class="templateImg w-full h-80">
            <img src="../../../assets/Svg/heroSection.svg" alt="" srcset="" />
          </div>
          <div
            class="templateMisc h-full w-full absolute top-0 left-0 group-hover:backdrop-blur"
          >
            <div
              class="relative flex items-center justify-center flex-col h-full w-full"
            >
              <div
                class="template-preview p-5 hidden group-hover:block group-hover:scale-125 group-hover:transition-all"
              >
                <button>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-8 h-8 rounded-full bg-blue-500 p-2 text-gray-50"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    />
                  </svg>
                  <span
                    class="tooltip absolute shadow-md font-medium capitalize text-[9px] whitespace-nowrap bg-gray-600 text-gray-50 px-2 py-1 rounded-md"
                  >
                    preview
                  </span>
                </button>
              </div>
              <div
                class="templateOptions flex gap-2 justify-between shadow-md font-bold text-xs bg-blue-50 text-slate-800 py-3 px-3 rounded-md"
              >
                <p>Choose template</p>
                <div class="flex items-center space-x-2">
                  <label for="" class="items-center flex">
                    <input
                      type="radio"
                      name="color"
                      id=""
                      value="red"
                      class="hidden"
                    />
                    <span
                      class="block w-4 h-4 bg-red-500 ring-2 ring-red-300 rounded-full cursor-pointer"
                    ></span>
                  </label>
                  <!--  -->
                  <label for="" class="items-center flex">
                    <input
                      type="radio"
                      name="color"
                      id=""
                      value="red"
                      class="hidden"
                    />
                    <span
                      class="block w-4 h-4 bg-blue-500 ring-2 ring-blue-300 rounded-full cursor-pointer"
                    ></span>
                  </label>
                  <!--  -->
                  <label for="" class="items-center flex">
                    <input
                      type="radio"
                      name="color"
                      id=""
                      value="red"
                      class="hidden"
                    />
                    <span
                      class="block w-4 h-4 bg-green-500 ring-2 ring-green-300 rounded-full cursor-pointer"
                    ></span>
                  </label>
                  <!--  -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-center">Template 1</p>
      </div>
      <!--  -->
    </div>
  </div>
</section>
