/* carousel */

.carousel-container {
  position: relative;
  width: 100%;
}
.carousel-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 2rem 1rem;
}
.carousel-main {
  width: fit-content;
}
.carousel-main .slide {
  width: 17rem;
  /* height: 17rem; */
  justify-content: space-between;
}
.carousel-controls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  left: 0;
  top: 45%;
}
.carousel-controls .prev {
  margin-left: -1.1rem;
}
.carousel-controls .next {
  margin-right: -1.1rem;
}

@media only screen and (max-width: 576px) {
  .carousel-main .slide {
    width: 20rem;
  }
  .carousel-controls {
    position: unset;
    justify-content: center;
    gap: 0.5rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .carousel-main .slide {
    width: 19.7rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1024px) {
  .carousel-main .slide {
    width: 18rem;
  }
}
