<div
  class="body-font bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-slate-50"
>
  <section class="w-full pb-12 md:pb-16 lg:pb-[4.375rem]">
    <div class="container px-6 mx-auto">
      <div class="items-center flex flex-col-reverse md:flex-row">
        <div class="w-full lg:w-1/2">
          <div class="lg:max-w-lg">
            <h1
              class="text-3xl font-bold text-gray-800 dark:text-white lg:text-4xl sm:text-5xl"
            >
              Build beautiful resumes in
              <span class="text-blue-500">minutes</span>
            </h1>

            <p class="mt-3 text-gray-600 dark:text-gray-400">
              Stand out with professionally designed templates. Our intuitive
              tools make it easy to create the perfect resume.
            </p>

            <button
              class="px-5 py-2 mt-6 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-lg w-auto hover:bg-blue-500 focus:outline-none focus:bg-blue-500 hover:shadow-2xl font-medium"
            >
              Create Your Resume
            </button>
          </div>
        </div>

        <div
          class="flex items-center justify-center pb-4 sm:pb-2 w-full lg:w-1/2 -my-6"
        >
          <img
            class="w-full h-full lg:max-w-3xl"
            src="../../../assets/Svg/heroSection.svg"
            alt="Catalogue-pana.svg"
          />
        </div>
      </div>
    </div>
    <!--  -->
    <div class="flex items-center justify-center w-full md:-my-3 mt-6">
      <div class="relative w-auto h-auto flex items-center flex-col">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="animate-bounce"
        >
          <rect x="5" y="2" width="14" height="20" rx="7"></rect>
          <path d="M12 6v4"></path>
        </svg>
        <p class="text-xs pt-2">Scroll to down</p>
      </div>
    </div>
  </section>
  <!--  -->
  <section class="w-full pb-12 md:pb-16 lg:pb-[4.375rem]">
    <div class="container m-auto px-6">
      <div class="items-center flex flex-col md:flex-row">
        <div
          class="flex items-center justify-center pb-4 sm:pb-2 w-full mt-0 lg:w-1/2"
        >
          <img
            class="w-full h-full lg:max-w-3xl"
            src="../../../assets/Svg/heroSection1.svg"
            alt="heroSection.svg"
          />
        </div>
        <div class="w-full lg:w-1/2">
          <div class="lg:max-w-lg">
            <div
              class="inline-block rounded-lg bg-gray-200 px-3 py-1 text-sm dark:bg-gray-800"
            >
              Introduction
            </div>

            <h2 class="text-3xl font-bold sm:text-5xl lg:text-4xl pt-3">
              Your Gateway to Crafting the
              <span class="text-blue-500">Perfect Resume!</span>
            </h2>

            <p class="max-w-[600px] text-gray-500 dark:text-gray-400">
              Elevate your career prospects with a professionally crafted resume
              tailored to showcase your unique skills and experiences. Whether
              you're a seasoned professional or just starting your career
              journey, our intuitive platform empowers you to create a standout
              resume effortlessly.
            </p>

            <button
              class="px-5 py-2 mt-6 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-lg w-auto hover:bg-blue-500 focus:outline-none focus:bg-blue-500 hover:shadow-2xl font-medium"
            >
              Get started
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <section class="w-full pb-12 md:pb-16 lg:pb-[4.375rem]">
    <div class="container m-auto px-6">
      <div class="space-y-2 text-center">
        <div
          class="inline-block rounded-lg bg-gray-200 px-3 py-1 text-sm dark:bg-gray-800"
        >
          Features
        </div>
        <h2 class="text-3xl font-bold sm:text-5xl lg:text-4xl pt-3">
          Features to love
        </h2>
        <p class="text-gray-500 dark:text-gray-400">
          Unlock Your Potential with
          <span class="text-blue-500">Resumify</span> Resume Builder
        </p>
      </div>
      <app-features></app-features>
    </div>
  </section>
</div>
