<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Template 4</title>
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-jost hyphens-manual">
    <!-- Page -->
    <div class="container mx-auto my-8 px-4">
        <!-- Name -->
        <div class="flex justify-between items-center border-b-4 border-gray-700 pb-4 mb-4">
            <div class="w-full md:w-auto mb-2 md:mb-0">
                <h1 class="text-4xl md:text-5xl font-bold text-gray-750">Your Name</h1>
                <h2 class="text-2xl md:text-3xl font-semibold text-gray-700">Your Job Title</h2>
                <h3 class="text-md font-semibold text-gray-550">City</h3>
            </div>
            <div class="text-3xl font-bold leading-none text-gray-200 bg-gray-700 print:bg-black p-4 rounded-full">
                <div class="text-center initial">Y</div>
                <div class="text-center initial">N</div>
            </div>
        </div>

        <!-- Grid layout for content -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

            <!-- Contact Information -->
            <div>
                <h2 class="text-xl font-bold text-gray-700 mb-2">Contact Information</h2>
                <ul class="list-disc pl-4">
                    <li class="text-gray-700 mb-2"><span class="font-semibold">Email:</span> demo@gmail.com</li>
                    <li class="text-gray-700 mb-2"><span class="font-semibold">Phone:</span> +91(123)456-7890</li>
                </ul>
            </div>

            <!-- Summary -->
            <div>
                <h2 class="text-xl font-bold text-gray-700 mb-2">Summary</h2>
                <p class="text-gray-700">ante salutatus fabellas velit maximus imperdiet curabitur simul appetere sem
                    tristique antiopam idque elitr maiorum vis mel fusce civibus fermentum an interesset has commune
                    instructior tristique posidonium habemus ligula ne nec conceptam mazim oporteat delectus sodales
                    viris definitiones odio expetendis ridiculus at mollis nobis mattis scelerisque litora iudicabit
                    ornare doming</p>
            </div>

            <!-- Experience -->
            <div>
                <h2 class="text-xl font-bold text-gray-700 mb-2">Experience</h2>
                <div>
                    <h3 class="text-lg font-semibold text-gray-700">Front End Developer (2 Years)</h3>
                    <p class="text-gray-700 mb-2">April 2021 – April 2023 | ABC Technologies</p>
                    <p class="text-gray-700">ante salutatus fabellas velit maximus imperdiet curabitur simul appetere
                        sem tristique antiopam idque elitr maiorum vis mel fusce civibus fermentum an interesset has
                        commune instructior tristique posidonium habemus ligula ne nec conceptam mazim oporteat delectus
                        sodales viris definitiones odio expetendis ridiculus at mollis nobis mattis scelerisque litora
                        iudicabit ornare doming</p>
                </div>
            </div>

            <!-- Education -->
            <div>
                <h2 class="text-xl font-bold text-gray-700 mb-2">Education</h2>
                <div>
                    <h3 class="text-lg font-semibold text-gray-700">Your University Name</h3>
                    <p class="text-gray-700 mb-2">from – to | Course</p>
                    <p class="text-gray-700"><span class="font-semibold">Major:</span> Your Subject</p>
                    <p class="text-gray-700"><span class="font-semibold">CGPA:</span> 9.9</p>
                </div>
            </div>

            <!-- Projects -->
            <div>
                <h2 class="text-xl font-bold text-gray-700 mb-2">Projects</h2>
                <div>
                    <h3 class="text-lg font-semibold text-gray-700"><a href="#!" class="group">Project Title</a></h3>
                    <p class="text-gray-700 mb-2">Year | Skill Used</p>
                    <p class="text-gray-700">honestatis dicam signiferumque pharetra elaboraret moderatius vis senectus
                        regione amet novum omnesque cras consectetur percipit fusce feugiat affert maiestatis errem
                        similique maximus mauris ultricies per referrentur sententiae graeco cu qui</p>
                </div>
            </div>

            <!-- Skills -->
            <div>
                <h2 class="text-xl font-bold text-gray-700 mb-2">Skills</h2>
                <div>
                    <h3 class="text-lg font-semibold text-gray-700">Your Job Title</h3>
                    <ul class="list-disc pl-4 text-gray-700">
                        <li>Skill 1</li>
                        <li>Skill 2</li>
                        <li>Skill 3</li>
                        <li>Skill 4</li>
                        <li>Skill 5</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>