<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />

  <title>Template 4</title>
  <!-- Tailwind CSS -->
  <!-- <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 font-jost">

  <!-- Page -->
  <div class="container mx-auto my-8 p-6">
   <!-- Name -->
    <div class="flex justify-between items-center border-b-4 border-gray-700 pb-4 mb-4">
      <div class="w-full md:w-auto mb-2 md:mb-0">
        <h1 class="text-4xl md:text-5xl font-bold text-gray-750">
          Your Name
        </h1>
        <h2 class="text-2xl md:text-3xl font-semibold text-gray-700">
          Your Job Title
        </h2>
        <h3 class="text-md font-semibold text-gray-550">City</h3>
      </div>
      <div class="text-3xl font-bold leading-none text-gray-200 bg-gray-700 print:bg-black p-4 rounded-full">
        <div class="text-center initial">Y</div>
        <div class="text-center initial">N</div>
      </div>
    </div>

    <!-- Grid layout for content -->
    <!-- <div class="grid grid-rows-[repeat(3,_max-content)]  gap-4 grid-flow-col-dense"> -->
    <div class="grid grid-cols-1 sm:grid-cols-5 gap-4 grid-flow-row-dense">
      <!-- Contact Information -->
      <div class="rounded-md bg-gray-200 py-2 px-3 col-span-1 sm:col-span-5">
        <h2 class="text-xl font-bold text-gray-700 mb-2">
          Contact Information
        </h2>
        <ul class="list-disc pl-4">
          <li class="text-gray-700 mb-2">
            <span class="font-semibold">Email:</span> demo@gmail.com
          </li>
          <li class="text-gray-700 mb-2">
            <span class="font-semibold">Phone:</span> +91(123)456-7890
          </li>
        </ul>
      </div>

      <!-- Summary -->
      <div class="rounded-md bg-gray-200 py-2 px-3 col-span-1 sm:col-span-2">
        <h2 class="text-xl font-bold text-gray-700 mb-2">Summary</h2>
        <p class="text-gray-700">
          Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Alias, aliquam beatae quis eveniet ipsa vel,
        sapiente cumque enim est dolor magni voluptate laborum, quisquam a
        temporibus. Vitae, dolore soluta expedita culpa ratione dolorum in
        optio accusantium. Sit nihil delectus voluptas ullam harum iure sed
        officiis, adipisci ratione illo dolore est!
        </p>
      </div>

      <!-- Experience -->
      <div class="rounded-md bg-gray-200 py-2 px-3 col-span-1 sm:col-span-3">
        <h2 class="text-xl font-bold text-gray-700 mb-2">Experience</h2>
        <div>
          <h3 class="text-lg font-semibold text-gray-700">
            Front End Developer (2 Years)
          </h3>
          <p class="text-gray-700 mb-2">
            April 2021 – April 2023 | ABC Technologies
          </p>
          <p class="text-gray-700">
            Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Alias, aliquam beatae quis eveniet ipsa vel,
        sapiente cumque enim est dolor magni voluptate laborum, quisquam a
        temporibus. Vitae, dolore soluta expedita culpa ratione dolorum in
        optio accusantium. Sit nihil delectus voluptas ullam harum iure sed
        officiis, adipisci ratione illo dolore est!
          </p>
        </div>
      </div>

      <!-- Education -->
      <div class="rounded-md bg-gray-200 py-2 px-3 col-span-1 sm:col-span-2">
        <h2 class="text-xl font-bold text-gray-700 mb-2">Education</h2>
        <div>
          <h3 class="text-lg font-semibold text-gray-700">
            Your University Name
          </h3>
          <p class="text-gray-700 mb-2">from – to | Course</p>
          <p class="text-gray-700">
            <span class="font-semibold">Major:</span> Your Subject
          </p>
          <p class="text-gray-700">
            <span class="font-semibold">CGPA:</span> 9.9
          </p>
        </div>
      </div>

      <!-- Projects -->
      <div class="rounded-md bg-gray-200 py-2 px-3 col-span-1 sm:col-span-3">
        <h2 class="text-xl font-bold text-gray-700 mb-2">Projects</h2>
        <div>
          <h3 class="text-lg font-semibold text-gray-700">
            <a href="#!" class="group">Project Title</a>
          </h3>
          <p class="text-gray-700 mb-2">Year | Skill Used</p>
          <p class="text-gray-700">
            Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Alias, aliquam beatae quis eveniet ipsa vel,
        sapiente cumque enim est dolor magni voluptate laborum, quisquam a
        temporibus. Vitae, dolore soluta expedita culpa ratione dolorum in
        optio accusantium. Sit nihil delectus voluptas ullam harum iure sed
        officiis, adipisci ratione illo dolore est!
          </p>
        </div>
      </div>

      <!-- Skills -->
      <div class="rounded-md bg-gray-200 py-2 px-3 col-span-1 sm:col-span-5">
        <h2 class="text-xl font-bold text-gray-700 mb-2">Skills</h2>
        <div>
          <h3 class="text-lg font-semibold text-gray-700">Your Job Title</h3>
          <ul class="list-disc pl-4 text-gray-700">
            <li>Skill 1</li>
            <li>Skill 2</li>
            <li>Skill 3</li>
            <li>Skill 4</li>
            <li>Skill 5</li>
          </ul>
        </div>
      </div>
    </div>

    
  </div>
</body>

</html>