<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Template 1</title>
  <link rel="stylesheet" href="../../../styles.css" />

  <script src="https://cdn.tailwindcss.com"></script>


</head>

<body>
  <div class="container mx-auto px-6 py-8  poppins-medium  dark:text-gray-900">
    <div class=" title pb-3">
      <h1 class="poppins-bold text-4xl text-blue-500 pb-1">{{name_key}}</h1>
      <p class="poppins-light text-gray-500 text-xl">{{jobTitle}}</p>
      <span class="poppins-medium text-base">{{summary}}</span>
    </div>
    <!--  -->
    <div class="my-2 py-2 border-t-2 border-b-2 border-gray-900">
      <div class="flex justify-between gap-2 flex-wrap flex-col sm:flex-row">
        <p class="sm:basis-32">{{email}}</p>
        <p class="sm:basis-32">{{phone}}</p>
        <p class="sm:basis-56">{{address}}, {{city}}, {{pincode}}, {{state}}, {{country}}</p>
        <p class="text-ellipsis sm:basis-32"><a href="{{webLink}}">{{webLink}}</a></p>
      </div>
    </div>
    <!--  -->
    <div class="skill_area mt-6 ">
      <h3 class=" text-blue-500 text-xl poppins-bold">SKILLS</h3>
      <div class="pt-3 flex gap-2 items-center">
        <span class="rounded-md p-2 bg-blue-500 text-white">{{skills[0].skillTitle}}</span>
        <!-- <span class="rounded-md p-2 bg-blue-500 text-white">Skill 1</span>
        <span class="rounded-md p-2 bg-blue-500 text-white">Skill 1</span>
        <span class="rounded-md p-2 bg-blue-500 text-white">Skill 1</span>
        <span class="rounded-md p-2 bg-blue-500 text-white">Skill 1</span> -->
      </div>
    </div>
    <!--  -->
    <div class="exp_area mt-6">
      <h3 class=" text-blue-500 text-xl poppins-bold">WORK EXPERIENCE</h3>
      <div class="flex flex-col gap-4 pb-2">
        <div class="exp_detail poppins-medium ">
          <div class="job_title poppins-bold text-base">{{experience[0].jobTitle}}</div>
          <div class="company_name text-sm">{{experience[0].companyName}}</div>
          <div class="time_period text-gray-600 text-xs poppins-light-italic">
            {{experience[0].from}}-{{experience[0].to}}</div>
          <div class="company_name text-sm">{{experience[0].experienceYear}}</div>
          <ul class="list-disc ms-4 text-sm text-gray-800">
            <li>{{experience[0].responsibilities}}</li>
            <!-- <li>{{responsibilities}}</li>
            <li>{{responsibilities}}</li>
            <li>{{responsibilities}}</li>
            <li>{{responsibilities}}</li> -->
          </ul>
        </div>
        <!--  -->
        <!-- <div class="exp_detail poppins-medium">
          <div class="job_title poppins-bold text-base">{{jobTitle}}</div>
          <div class="company_name text-sm">{{companyName}}</div>
          <div class="time_period text-gray-600 text-xs poppins-light-italic">{{from}}-{{to}}</div>
          <ul class="list-disc ms-4 text-sm text-gray-800">
            <li>{{responsibilities}}</li>
            <li>{{responsibilities}}</li>
            <li>{{responsibilities}}</li>
            <li>{{responsibilities}}</li>
            <li>{{responsibilities}}</li>
          </ul>
        </div> -->
      </div>

    </div>
    <!--  -->
    <div class="edu_area mt-6">
      <h3 class=" text-blue-500 text-xl poppins-bold">EDUCATION</h3>
      <div class="flex flex-col gap-4 pb-2">
        <div class="edu_detail poppins-medium ">
          <div class="course_title text-base poppins-bold">{{education[0].courseTitle}}</div>
          <div class="university_name text-sm">{{education[0].institutionName}}</div>
          <div class="time_period text-gray-600 text-xs poppins-light-italic">{{education[0].from}}-{{education[0].to}}
          </div>
        </div>
        <!--  -->
        <!-- <div class="edu_detail poppins-medium ">
          <div class="course_title text-base poppins-bold">{{courseTitle}}</div>
          <div class="university_name text-sm">{{institutionName}}</div>
          <div class="time_period text-gray-600 text-xs poppins-light-italic">{{from}}-{{to}}</div>
        </div> -->
      </div>
    </div>
    <!--  -->
    <div class="lang_area mt-6">
      <h3 class=" text-blue-500 text-xl poppins-bold">LANGUAGES</h3>
      <div class="lang flex items-center gap-2 flex-wrap">
        <div class="lang_box">
          <div class="lang_title poppins-bold text-base">{{language[0].languagetitle}}</div>
          <div class="lang_level poppins-light-italic text-gray-600 text-xs">{{language[0].languagevalues}}</div>
        </div>
        <!-- <div class="lang_box">
          <div class="lang_title poppins-bold text-base">{{language[0].languagetitle}}</div>
          <div class="lang_level poppins-light-italic text-gray-600 text-xs">{{language[0].languagevalues}}</div>
        </div>
        <div class="lang_box">
          <div class="lang_title poppins-bold text-base">{{language[0].languagetitle}}</div>
          <div class="lang_level poppins-light-italic text-gray-600 text-xs">{{language[0].languagevalues}}</div>
        </div> -->
      </div>

    </div>
  </div>
</body>

</html>