<div class="{{ dialogCss }}" role="alert">
  <div class="flex items-center">
    <svg
      aria-hidden="true"
      class="flex-shrink-0 w-4 h-4 me-2"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
      />
    </svg>
    <span class="sr-only">Info</span>
    <h3 class="text-lg font-medium">{{ dialogTitle }}</h3>
  </div>
  <div class="mt-2 mb-4 text-sm">{{ dialogMessage }}</div>
  <div class="flex justify-end">
    <button
      aria-label="Close"
      class="{{ dialogButtonCss }}"
      data-dismiss-target="#alert-additional-content-2"
      mat-dialog-close
      type="button"
    >
      {{ dialogButtonText }}
    </button>
  </div>
</div>
