.mdc-dialog__actions {
  padding: 0 !important;
}

.mat-mdc-dialog-content {
  /*max-height: 500px;*/
  /*height: 350px;*/
  /* margin-left: 0.75rem;
  margin-right: 0.75rem; */
}

mat-dialog-content .template {
  /*transform: scale(0.8);*/
  /*transform-origin: top center;*/
  white-space: normal;
  /*width: 720px;*/
}

.zoom-effect {
  transition: transform 0.3s ease;
}

.zoom-effect.zoom-in {
  transform: scale(1.2); /* Zoom in by 20% */
}

.zoom-effect.zoom-out {
  transform: scale(0.8); /* Zoom out by 20% */
}

@media (max-width: 768px) {
  .mat-mdc-dialog-content {
    /*max-height: 320px !important;*/
  }

  .mdc-dialog__actions {
    min-height: fit-content !important;
  }

  mat-dialog-content .template {
    width: 1024px;
    /*transform: scale(.3);*/
    /*transform-origin: -2rem 0;*/
  }
}
