<h1 class="text-4xl font-bold pt-6 mt-10 sm:mt-0 sm:pt-0">
  <span
    class="bg-gradient-to-r from-blue-300 via-blue-600 to-blue-950 text-transparent bg-clip-text animate-gradient"
    >Get Started . . .</span
  >
  🥳
</h1>
<p class="py-3">
  <strong>Craft Your Career</strong> : Welcome to Our Resume Builder
</p>
<div class="resumeTitle mb-2 w-fit">
  <label for="resumetitle" class="block text-base font-medium">
    Resume Title
  </label>
  <div class="mt-1 dark:text-slate-800">
    <input
      id="resumetitle"
      type="text"
      autocomplete="on"
      [(ngModel)]="resumetitle"
      required
      placeholder="Enter Your Resume Title"
      class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
    />
  </div>
</div>
<div class="flex gap-3 flex-col lg:flex-row">
  <div class="basis-3/5">
    <mat-stepper orientation="vertical" #stepper class="dark:bg-gray-900">
      <mat-step
        [stepControl]="firstFormGroup"
        errorMessage="Personal Details is required."
      >
        <form [formGroup]="firstFormGroup" (ngSubmit)="submitPerDetForm()">
          <ng-template matStepLabel
            ><span class="text-gray-900 dark:text-white"
              >Personal Details</span
            ></ng-template
          >
          <div class="flex gap-4 flex-wrap mt-2">
            <div class="basis-80 grow">
              <label for="firstName" class="block text-sm font-medium">
                First name
              </label>
              <div class="mt-1 dark:text-slate-800">
                <input
                  id="firstName"
                  type="text"
                  autocomplete="given-name"
                  formControlName="firstName"
                  required
                  placeholder="First name"
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                />
              </div>
            </div>
            <div class="basis-80 grow">
              <label for="lastName" class="block text-sm font-medium">
                Last name
              </label>
              <div class="mt-1 dark:text-slate-800">
                <input
                  id="lastName"
                  type="text"
                  autocomplete="family-name"
                  formControlName="lastName"
                  required
                  placeholder="Last name"
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                />
              </div>
            </div>
            <div class="basis-80 grow">
              <label for="email" class="block text-sm font-medium">
                Email address
              </label>
              <div class="mt-1 dark:text-slate-800">
                <input
                  id="email"
                  type="email"
                  autocomplete="email"
                  formControlName="email"
                  required
                  placeholder="Email"
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                />
              </div>
            </div>
            <div class="basis-80 grow">
              <label for="phone" class="block text-sm font-medium">
                Phone
              </label>
              <div class="mt-1 dark:text-slate-800">
                <input
                  id="phone"
                  type="tel"
                  autocomplete="tel"
                  formControlName="phone"
                  required
                  placeholder="Phone"
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                />
              </div>
            </div>
            <div class="basis-80 grow">
              <label for="birthDate" class="block text-sm font-medium">
                Birth Date
              </label>
              <div class="mt-1 dark:text-slate-800">
                <input
                  id="birthDate"
                  type="date"
                  autocomplete="bday-day"
                  formControlName="birthDate"
                  required
                  placeholder="Birth Date"
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                />
              </div>
            </div>
            <div class="basis-80 grow">
              <label for="address" class="block text-sm font-medium">
                Address
              </label>
              <div class="mt-1 dark:text-slate-800">
                <input
                  id="address"
                  type="text"
                  autocomplete="address-level1"
                  formControlName="address"
                  required
                  placeholder="Address"
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                />
              </div>
            </div>
            <div class="basis-80 grow">
              <label for="city" class="block text-sm font-medium"> City </label>
              <div class="mt-1 dark:text-slate-800">
                <input
                  id="city"
                  type="text"
                  autocomplete="on"
                  formControlName="city"
                  required
                  placeholder="City"
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                />
              </div>
            </div>
            <div class="basis-80 grow">
              <label for="postalCode" class="block text-sm font-medium">
                Postal Code
              </label>
              <div class="mt-1 dark:text-slate-800">
                <input
                  id="postalCode"
                  type="text"
                  autocomplete="postal-code"
                  formControlName="postalCode"
                  required
                  placeholder="Postal Code"
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                />
              </div>
            </div>
            <div class="basis-80 grow">
              <label for="country" class="block text-sm font-medium">
                Country
              </label>
              <div class="mt-1 dark:text-slate-800">
                <input
                  id="country"
                  type="text"
                  autocomplete="country"
                  formControlName="country"
                  required
                  placeholder="Country"
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                />
              </div>
            </div>
            <div class="basis-80 grow">
              <label for="website" class="block text-sm font-medium">
                Website
              </label>
              <div class="mt-1 dark:text-slate-800">
                <input
                  id="website"
                  type="url"
                  autocomplete="url"
                  formControlName="website"
                  placeholder="Website Url"
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                />
              </div>
            </div>
            <div class="basis-80 grow">
              <label for="description" class="block text-sm font-medium">
                Write description
              </label>
              <div class="mt-1 dark:text-slate-800">
                <textarea
                  id="description"
                  type="url"
                  autocomplete="url"
                  formControlName="description"
                  placeholder="Write description "
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="py-3 mt-3">
            <button
              type="submit"
              class="hover:shadow-2xl hover:-translate-y-px hover:transition hover:duration-300 px-5 py-2 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:bg-blue-500 font-medium w-fit"
              matStepperNext
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step
        [stepControl]="secondFormGroup"
        errorMessage="Address is required."
      >
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel
            ><span class="text-gray-900 dark:text-white"
              >Educational Details</span
            ></ng-template
          >
          <div class="flex gap-4 flex-wrap mt-2">
            <div class="basis-80 grow">
              <label for="firstName" class="block text-sm font-medium">
                First name
              </label>
              <div class="mt-1 dark:text-slate-800">
                <input
                  id="firstName"
                  type="text"
                  autocomplete="name"
                  formControlName="firstName"
                  required
                  placeholder="First name"
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                />
              </div>
            </div>
            <div class="basis-80 grow">
              <label for="lastName" class="block text-sm font-medium">
                Last name
              </label>
              <div class="mt-1 dark:text-slate-800">
                <input
                  id="lastName"
                  type="text"
                  autocomplete="family-name"
                  formControlName="lastName"
                  required
                  placeholder="Last name"
                  class="block w-full px-5 py-3 text-base placeholder-gray-500 transition duration-500 ease-in-out transform rounded-lg bg-gray-50 border-gray-200 border focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 hover:outline-none hover:border-transparent hover:ring-2 hover:ring-white hover:ring-offset-2 hover:ring-offset-gray-300"
                />
              </div>
            </div>
          </div>
          <div class="py-3 mt-3 space-x-2">
            <button
              class="hover:shadow-2xl hover:-translate-y-px hover:transition hover:duration-300 px-5 py-2 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:bg-blue-500 font-medium w-fit"
              matStepperPrevious
            >
              Back
            </button>
            <button
              class="hover:shadow-2xl hover:-translate-y-px hover:transition hover:duration-300 px-5 py-2 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:bg-blue-500 font-medium w-fit"
              matStepperNext
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div class="py-3 mt-3 space-x-2">
          <button
            class="hover:shadow-2xl hover:-translate-y-px hover:transition hover:duration-300 px-5 py-2 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:bg-blue-500 font-medium w-fit"
            matStepperPrevious
          >
            Back
          </button>
          <button
            class="hover:shadow-2xl hover:-translate-y-px hover:transition hover:duration-300 px-5 py-2 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:bg-blue-500 font-medium w-fit"
            (click)="stepper.reset()"
          >
            Reset
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <div class="basis-2/5 py-2 px-1">
    <p class="py-1 text-center">
      <strong>Preview</strong>
    </p>
    <div class="bg-gray-100 rounded-md h-[500px] w-full"></div>
    <button
      class="my-4 mx-auto hover:shadow-2xl hover:-translate-y-px hover:transition hover:duration-300 px-5 py-2 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:bg-blue-500 font-medium w-fit"
    >
      Next
    </button>
  </div>
</div>
